<h1>Articles du blog</h1>
<p><a href="<%= new_post_path %>" class="btn btn-success">Nouvel article</a></p>
<p><% @posts.each do |post| %></p>
    <h2><%= post.name %></h2>
    <p><%= post.content %></p>
    <p>
        <a href="<%= post_path(post.id) %>" class="btn btn-primary">Read more</a>
        <a href="<%= edit_post_path(post.id) %>" class="btn btn-warning">Editer</a>
        <a href="<%= post_path(post.id) %>" class="btn btn-danger" data-confirm="etes vous sure?" data-method="delete">Supprimer</a>
    </p>
<% end %> 